[data-testid="stAppViewContainer"] {
    background-color: #effff5;
    /* background: linear-gradient(to right, #309B6D 0%, #309B6D 23.153409361839294%, #07AA8D 46.30681872367859%, #07AA8D 73.1534093618393%, #0D5758 100%); */
}

[data-testid="stHeader"] {
    visibility: hidden;
}

[data-testid="myHeader"] {
    visibility: hidden;
}

[data-testid="stSidebar"],
[data-testid="collapsedControl"] {
    display: none;
}

[data-testid="baseButton-headerNoPadding"] {
    background-color: white;
}

[data-testid="stCaptionContainer"] {
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding: 0 10px 0 10px;
}

[data-testid="stChatMessage"] {
    background-color: white;
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

[aria-label="Chat message from user"] .st-emotion-cache-vdokb0.e1nzilvr4 {
    display: flex;
    color: white;
}

p, textarea.st-b8 {
    font-size: 13px;
}

div:has(> div[aria-label="Chat message from user"]) {
    background: linear-gradient(to top left, #aeffc6 0%, #0BA639 100%);
}

div:has(> div[aria-label="Chat message from assistant"]) {
    background-color: #ffffff;
}

/* div.stChatMessage div[aria-label="Chat message from assistant"] div {
    display: inline-block;
    width: max-content;
}

div.stChatMessage:has(> div[aria-label="Chat message from assistant"]) {
    display: inline-block;
    width: max-content;
} */

[data-testid="stChatInput"] {
    position: fixed;
    bottom: 55px;
    z-index: 99;
    background-color: white;
}

[data-testid="stChatInputSubmitButton"] {
    color: #0BA639;
    height: 100%;
}

[data-testid="stChatInputSubmitButton"]:hover {
    color: #ffffff;
    background-color: #0BA639;
}

div.st-emotion-cache-4oy321 {
    max-width: 100%;
}

div.st-emotion-cache-1c7y2kd {
    flex-direction: row-reverse;
    align-self: flex-end;
    max-width: 50%;
}

div.st-emotion-cache-1eo1tir {
    padding-top: 1rem;
}

div.st-emotion-cache-7tauuy {
    padding: 1rem 0 0;
    max-width: 90%;
}

.st-emotion-cache-qdbtli {
    padding: 3rem 0 55px 0;
    max-width: 90%;
}

/* div.st-emotion-cache-1jicfl2 {
    padding: 1rem 2rem 10rem 2rem;
} */

/* chat input when render citation */

div.st-emotion-cache-uhkwx6.ea3mdgi6 {
    background-color: #effff5;
    /* background: linear-gradient(to right, #309B6D 0%, #309B6D 23.153409361839294%, #07AA8D 46.30681872367859%, #07AA8D 73.1534093618393%, #0D5758 100%); */
}

div.st-emotion-cache-5i1le4 {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url("https://storagetcdata.blob.core.windows.net/images/banner_home.png");
    background-size: contain;
}

div.st-emotion-cache-1ch8vux::after {
    color: #0BA639;
    z-index: 99;
}

div.st-emotion-cache-1kyxreq {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    align-items: center;
}

.st-c2,
.st-c3,
.st-c4,
.st-c5 {
    border-color: #0BA639;
}

[data-testid="stDataFrame"] {
    margin-top: 2rem;
}

table {
    border-collapse: collapse;
    margin-bottom: 15px;
}

table,
th,
td {
    border: 1px solid #ccc;
}

img.st-emotion-cache-p4micv {
    object-fit: contain;
}